@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply relative;
}

html,
body,
#root {
    @apply min-h-full w-full;
}

#root {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer components {
    .text-rainbow {
        @apply bg-gradient-to-br from-cyan-500 via-indigo-500 to-fuchsia-500 bg-clip-text text-transparent;
    }
}
